.home-wrapper {
    background-color:#01111B;
}
.col-left {
    width: 20%;
}
.col-right {
    width: 80%;
}
.row-main {
    height: 80px;
    padding: 16px 20px;
    background-color: #212121;
    color: #fff;
    border: 4px solid #01111B;
    border-top: none;
    border-left: none;
    position: relative;
}
.row-right, .row-left  {
    display: flex;
    align-items: center;
}

.row-timings, .row-show-list {
    height: 50px;
    color: #fff;
}
.row-right-col-1 {width: 20%;}
.row-right-col-2 {width: 40%;}
.row-right-col-3 {width: 60%;}
.row-right-col-4 {width: 80%;}
.row-right-col-5 {width: 100%;}
.row-left.active {
    background: rgba(255,255,255,1);
}
.row-right.active {position: relative;}
.row-right.active .row-main:first-child:after {
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    background: #E09444;
    top: 0;
    left: 0;
    content: '';
    z-index: 0;
}
.row-right.active .row-main:first-child:before {
    position: absolute;
    width: calc(50%);
    height: calc(100%);
    background: #D46E02;
    top: 0;
    left: 0;
    content: '';
    z-index: 1;
}
.bokoo-genre {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    color: #FD841A;
}
.bokoo-number {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 0 8px 0 0;
}
.bokoo-brand-img {
    margin: 0 8px;
    max-width: 140px;
}
.show-head {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    z-index: 2;
}
.show-text {
    font-size: 14px;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    position: relative;
    z-index: 2;
}
.banner-video {
    padding: 40px 0;
    background: rgba(0,0,0,0.5);
}
.banner-video .video-js {
    display: block;
    margin: 0 auto;
    border: 1px solid #555;
}